.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.form {
    background-color: rgba(161, 159, 159, 0.911);
    border-radius: 4px;
    width: 200px;
    padding: 1em;
    margin: 1em;
}

.name_div {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin: 0 1em;
}

.priority_div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0 1em;
}

.price_div {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin: 0 1em;
}

.button {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0 1em;
}

.task_text {
    display: flex;
    width: 250px;
    flex-direction: column;
    padding: 0.5em;
    border: 5px solid red;
}

.task_text_done {
    display: flex;
    width: 250px;
    flex-direction: column;
    padding: 0.5em;
    border: 5px solid rgb(9, 180, 9);
}